* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  
  body {
      background-color: black;
  }

  .copyright {
    margin-left: 40px;
    font-size: small;
    font-family: Library;
    color: aqua;  
  }
  
  .rect {
    width: 100%;
    height: 250px;
    background-color: rgb(24, 26, 27);
  }
  
  .rect li {
    margin-left: 700px;
    margin-top: 20px;
    color: white;
    font-size: 20px;
    font-family: Library;
  }
  .rect a {
    margin-bottom: 0px;
    color: pink;
    width: 100%;
    z-index: 0;
  } 
  
  .newlogo{
    width: auto;
    height: 200px;
    border-radius: 0%;
    overflow: hidden;
    margin-right: 50px;
    margin-top: 200px;
    float: right;
  }

  .euro {
    color: aqua;
    font-size: 20;
    margin-top: -150px;
    margin-left: 730px;
    font-family: Vazir;
  } 

  @font-face {
    font-family: Vazir;
    src: url(Vazir.ttf);
  }

  
  .euroimg {
    margin-left: 400px;
  }

  .nintendoimg{
    margin-left: 400px;
    margin-top: 130px;
  }

  .nintendo {
    color: aqua;
    font-size: 20;
    margin-top: -150px;
    margin-left: 730px;
    font-family: vazir;

  }

  .blackfridayimg {
    margin-left: 400px;
    margin-top: 150px;
  }

  .blackfriday {
    color: aqua;
    font-size: 20;
    margin-top: -150px;
    margin-left: 730px;
    font-family: vazir;

  }
  
  .gameawardimg {
    margin-left: 400px;
    margin-top: 150px;
  }

  .gameaward {
    color: aqua;
    font-size: 20;
    margin-top: -150px;
    margin-left: 730px;
    font-family: vazir;
  }
  

  .logo{
    width: 75px;
    height: 75px;
    border-radius: 40%;
    overflow: hidden;
    margin-left: 0px;
    margin-top: 2px;
  }
  
  @font-face {
      font-family: Library;
      src: url(Library.otf);
  }
  

  
  hr {
    border-color: aqua;
    width: 100%;
  }
  
  /* NAVIGATION BAR */
  nav {
    background: black;
    height: 80px;
    width: 100%;
    font-family: Library;
    z-index: 1;
  }
  
  nav ul {
    float: right;
    margin-right: 20px;
    z-index: 1;
  }
  
  nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    z-index: 1;
  }
  
  nav li {
    display: inline-block;
    padding: 0px;
    border-right: 1px solid;
    z-index: 1; 
  }
  
  nav ul li a {
    color: aqua;
    font-size: 25px;
    margin: 5px;
    z-index: 1;
  }
  
  nav li a:hover {
    color: rgb(255,110,199);
  }
  
  /* DROP DOWN */  
  .dropbtn {
      background-color: black;
      text-align: match-parent;
      color: aqua;
      font-family: library;
      font-size: 25px;
      border: none;
      margin: 0%;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
        font-size: 25px;
    }
      
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: black;
        color: aqua;
        min-width: small;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
  
    .dropdown-content a {
        font-size: medium;
        font-family: library;
        display: block;
        text-decoration: none;
        color: aqua;
    }
      
    .dropdown-content a:hover {
      color: rgb(255,110,199);
    }
  
    .dropdown:hover .dropdown-content {
        display: block;
        z-index: 1;
    }
      
    .dropbtn:hover {
      color: rgb(255,110,199);
    }